.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  img {
      border-radius: 30%;
      margin-left: 25%;
      width: 50%;
      height: 50%;
      text-align: center;
  }
  h1 {
      text-align: center;
      font-size: 50px;
      margin: 40px;
      padding-bottom: 10px;
  }
  .button {
      width: auto;
      height: auto;
      margin-left: 43%;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 30px;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .display {
    width: auto;
    height: auto;
  }