<app-side-nav></app-side-nav>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="form">
                <h1>New User Info</h1>
                <input type="text" placeholder="First Name" [(ngModel)]="addUser.FirstName">
                <input type="text" placeholder="Middle Name" [(ngModel)]="addUser.MiddleName">
                <input type="text" placeholder="Last Name" [(ngModel)]="addUser.LastName">
                <input type="text" placeholder="Username" [(ngModel)]="addUser.Section">
                <input type="password" placeholder="Password" [(ngModel)]="addUser.SchoolYear">
                <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
                <button class="adder" (click)="submitData()">Add User</button>
            </div>
        </div>
    </div>
</div>