<app-side-nav></app-side-nav>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="form">
                <h1>Enter Student's Name</h1>
                <input type="text" placeholder="S.Y." [(ngModel)]="newValue.SchoolYear">
                <input type="text" placeholder="First Name" [(ngModel)]="newValue.FirstName">
                <input type="text" placeholder="Last Name" [(ngModel)]="newValue.LastName">
                <input type="text" placeholder="Middle Name" [(ngModel)]="newValue.MiddleName">
                <input type="text" placeholder="Adviser" [(ngModel)]="newValue.Adviser">
                <input type="text" placeholder="Section" [(ngModel)]="newValue.Section">
                <input type="number" placeholder="How many images you are going to upload?" [(ngModel)]="imagesQuantity"><br>
                <center *ngFor="let in of counter(imagesQuantity); let i = index">
                    <input type="file" multiple="" (change)="fileUpload($event)">
                    <img [src]="url[i]" width="130px" height="150px">
                </center>
                <button (click)="add()" class="adder">Add To List</button>
            </div>
        </div>
    </div>
</div>