<app-side-nav>
</app-side-nav>

<div class="row">
    <div class="column">
        <div class="card">
            <div class="search">
                <form>
                <input class="sbar" autocomplete="off" type="text" placeholder="Search.." name="search2"
                    (keyup)="onKey($event)" [value]="studentsName">
              
                    <button class="sbtn" type="submit" (click)="showValue()">Search</button>
                <button class="sbtn" *ngIf="disableShow" (click)="showAllStudents()">Show All</button>

                </form>

            </div>

            <table>
                <tr>
                    <th>Year</th>
                    <th>Name</th>
                    <th>Section</th>
                    <th>Adviser</th>
                    <th class="actions">Actions</th>
                </tr>
                <tr *ngFor="let val of allStudentsInfo; let i = index">
                    <td>{{val.schoolYear}}</td>
                    <td>{{val.name}}</td>
                    <td>{{val.section}}</td>
                    <td>{{val.adviser}}</td>
                    <td class="actions">
                        <button (click)="showUserDetails(val)" class="button print">Print</button>
                        <button (click)="editStudentsInfo(val)" class="button edit">Edit</button>
                        <button (click)="deleteStudentsInfo(val, i)" class="button delete">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>